:root {
  --ifm-color-primary: #bd93f9;
  --ifm-color-primary-dark: #a18be0;
  --ifm-color-primary-darker: #8a73c8;
  --ifm-color-primary-light: #c6aafc;
  --ifm-color-primary-lighter: #d7b9ff;
  --ifm-font-family-base: 'Fira Code', 'Inter', sans-serif;
}
html[data-theme='dark'] {
  --ifm-background-color: #282a36;
  --ifm-navbar-background-color: #21222c;
  --ifm-footer-background-color: #21222c;
  --ifm-color-content: #f8f8f2;
  --ifm-link-color: #50fa7b;
  --ifm-code-background: #44475a;
  --ifm-code-color: #f8f8f2;
}